* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox-container {
    display: flex;
    flex-wrap: wrap;
}

.main-section {
    flex-basis: 70%;
    height: calc(100vh - 100px);
}

.aside-section {
    flex-basis: 30%;
    background-color: ivory;
    height: calc(100vh - 100px);
}


header {
    width: 100%;
    height: 150px;
    background-color: #EFBA54;
    display: flex;
    align-content: space-between;
    position: relative;
    padding-left: 50px;
}

header > img {
    position: absolute;
    right: -100px;
    top: 0;
}

header h2 {
    line-height: 150px;
    font-size: 45px;
}

main {
    width: 100%;
    height: calc(100vh - 250px);
    padding: 40px;
}

main h2 {
    color: grey;
}

main h2, main h3 {
    font-size: 40px;
    margin-bottom: 45px;
}

main ul , main ul li{
    display: inline-block;
}

main ul li {
    flex-basis: 50%;
    margin: 20px 0;
}

main ul li:last-child {
    flex-basis: 100%;
}

main ul li img {
    width: 50px;
    height: auto;
    vertical-align: middle;
}

main ul li input,
main ul li span,
main ul li label  {
    font-size: 25px;
    margin: 0 10px;
}

main ul li:last-child input {
    width: 70%;
}

main div:last-child {
    text-align: center;
}

#calculate {
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color:  #EFBA54;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

footer {
    height: 100px;
    background-color: rgb(245, 53, 127);
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer h3,
footer div span  {
    font-size: 30px;
    color: white;
}
